Source: camx-firmware-glymur
Section: non-free-firmware/kernel
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: http://support.cdmatech.com
Vcs-Browser: https://github.com/qualcomm-linux/pkg-camx-firmware-glymur
Vcs-Git: https://github.com/qualcomm-linux/pkg-camx-firmware-glymur.git

Package: camx-firmware-glymur
Architecture: arm64
Depends:
 ${misc:Depends},
Description: Qualcomm CamX camera stack (glymur firmware)
 This package contains the camera firmware file for the Qualcomm Glymur
 platform.
