Source: camx-firmware-glymur
Section: non-free-firmware/kernel
Maintainer: Qualcomm Camera Team <camx.deb.maintainers@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: http://support.cdmatech.com

Package: camx-firmware-glymur
Architecture: arm64
Depends:
 ${misc:Depends},
Description: Qualcomm CamX camera stack firmware package.
 camera firmware file for Glymur platform.
